* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    overflow: hidden;
    font-family:"Roboto" , sans-serif;
    font-style: bold;
    font-size: large;
    float: right;
    margin-top: 30px;
    letter-spacing: 0.7px;
    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    float: right;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: right;
    padding: 18px 80px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #B3B3B3;
    border-radius: 9px;
    color: black;

  }
  

  .logo {
    width: 100px;
    height: 100px;
    position:absolute;
    margin-top: 20px;
    left: 5px;
    top: -5px;;
  }  
  @keyframes gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
  }
body {
    background-image: url(background.jpg);
    background: linear-gradient(45deg, #000000, #333333);
    background-repeat: no-repeat;
    background: linear-gradient(45deg, #000000, #333333);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    background-position: top;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins" , sans-serif;
    position: relative;

}
.overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.countdown-container{
    display: flex;
}

.big-text{
    font-size: 4rem;
}

.title{
    margin: 10px;
    text-align: center;
    color: #fff;
    width: 100%;
    letter-spacing: 6px;
    font-size: 3rem;
    line-height: 5.5rem;
    margin-left:auto;
}

.title span{
    display: block;
    font-size: 6rem;
    letter-spacing: 2rem;
    margin-left: 1rem;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.countdown-container > div {
    margin: 0 2rem;
    text-align: center;
    border: 2px solid #fff;
    padding: 0px 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    box-sizing: border-box;
    color: #fff;
    min-width: 150px;
}

.countdown-container >div:hover{
    background-color:#B3B3B3;
}

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type=submit] {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .result-container {
    margin-top: 20px;
    text-align: left;
  }

  .result {
    font-weight: bold;
  }
.anket{
    color: white;
    margin-top: 100px;
    text-align: center;
    }
#sonuc:hover{
    transform: scale(1.2);

}    
